<head>
        <title>Data Integrity on Blockchain</title>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/Bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/CSS/Interface.css">
        <link rel="stylesheet" href="/stylesheets/CSS/loading.css">
        <link rel="stylesheet" href="/stylesheets/CSS/loading-btn.css">
        <link rel="stylesheet" href="/stylesheets/Bootstrap/css/bootstrap-horizon.css">
        
        <script src="/stylesheets/Bootstrap/js/jquery-3.3.1.min.js"></script>
        <script src="/stylesheets/Bootstrap/js/bootstrap.bundle.js"></script>
        <script src="/javascripts/particles.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="/stylesheets/Angular/angular.js"></script>
        <script src="/javascripts/sha256.js"></script>
</head>