<div id="refreshing">Page is refreshing...</div>
<div id="checking">Checking Blockchain Integrity...</div>
<div id="sync">Syncing Data with other Network Nodes...</div>
<div id="insert">Current modified data is inserted to Current Blockchain...</div>
<nav class="navbar  navbar-default fixed-top" id="navb">
    <div class="container-fluid">
      <a class="navbar-brand" href="#cs">Security</a>
        <ul class="nav navbar navbar-right">
          <li class="nav-item"><a class="nav-link active" href="#createNewBlock">Create block data</a></li>
          <li class="nav-item"><a class="nav-link" href="#reteriveBlock">Data in Blockchain</a></li>
        </ul>
      
      </div>
</nav>
